---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import slugify from "@utils/slugify";
import { SOCIALS } from "@config";

const articles = await fetch(
  "https://dev.to/api/articles?username=brainrepo"
).then(response => response.json());

const posts = await getCollection("blog");
const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <img src="/assets/logo.png" alt="brainrepo logo" class="mr-6 w-32" />
      <h1>My brain repo</h1>
      <a
        target="_blank"
        href="/rss.xml"
        class="rss-link"
        aria-label="rss feed"
        title="RSS Feed"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="rss-icon"
          ><path
            d="M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z"
          ></path><path
            d="M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z"
          ></path><circle cx="6" cy="18" r="2"></circle>
        </svg>
      </a>

      <p>
        Hello, I am <span class="text-skin-accent">BRAINREPO,</span> also known as
        <span class="text-skin-accent">Mauro Murru</span>. From 9.00 am to 6.00
        pm, I am a senior software engineer at <a href="">Nearform</a>. I spend
        my days creating digital products for big companies and doing <span
          class="text-skin-accent">opensource</span
        > in the JS and Typescript ecosystem.
      </p>
      <p>
        In addition, I am a journalist registered with the Italian public
        registry.
      </p>
      <p>
        My other passion is podcasting. Since January 2020, I have been the host
        and founder of the
        <a class="text-skin-accent underline" href="https://www.gitbar.it"
          >gitbar podcast</a
        >. A podcast in Italian where we speak about software development and
        the like. Gitbar also has a community with around 1200 members; and yes,
        I am the community manager.
      </p>

      {
        // only display if at least one social link is enabled
        socialCount > 0 && (
          <div class="social-wrapper">
            <div class="social-links">Social Links:</div>
            <Socials />
          </div>
        )
      }
    </section>

    <Hr />

    {
      articles.length > 0 && (
        <>
          <section id="featured">
            <h2>Featured</h2>
            <ul>
              {articles.map(
                ({
                  title,
                  url,
                  description,
                  published_at,
                  tags,
                }: {
                  title: string;
                  url: string;
                  description: string;
                  published_at: Date;
                  tags: string[];
                }) => (
                  <Card
                    href={url}
                    frontmatter={{
                      title,
                      description,
                      pubDatetime: published_at,
                      tags,
                    }}
                    secHeading={false}
                  />
                )
              )}
            </ul>
          </section>
          <Hr />
        </>
      )
    }
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block font-title text-3xl font-bold uppercase  sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2 font-mono;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pb-6 pt-12;
  }
  #featured h2,
  #recent-posts h2 {
    @apply font-title text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
